---
import { getPhotoPath, getRelativePath } from '@/features/themes/base-theme/utils';

import type { GalleryImage } from '@/features/themes/base-theme/types/gallery';

interface Props {
  image: GalleryImage;
  mediaBaseUrl?: string;
}

const { image, mediaBaseUrl } = Astro.props;
---

<a
  class="gallery-section__item"
  href={getPhotoPath(image.path, mediaBaseUrl)}
  data-pswp-src={getPhotoPath(image.path, mediaBaseUrl)}
  data-pswp-width={image.width}
  data-pswp-height={image.height}
  data-pswp-type={image.type}
  data-pswp-caption={image.description ? `<p class="image-caption">${image.description}</p>` : ''}
  style={`--w: ${image.thumbnail?.width}; --h: ${image.thumbnail?.height}`}>
  <img
    src={getRelativePath(image.thumbnail?.path)}
    srcset={`${getRelativePath(image.thumbnail?.path)} 1x, ${getRelativePath(image.thumbnail?.pathRetina)} 2x`}
    alt={image.alt}
    loading="lazy"
    width={image.thumbnail?.width}
    height={image.thumbnail?.height}
  />
</a>

<style>
  :root {
    --row-height: 6rem;
  }

  .gallery-section__item {
    --ratio: calc(var(--w) / var(--h));
    flex-basis: calc(var(--ratio) * var(--row-height));
    flex-grow: calc(var(--ratio) * 100);
    margin: 0.25rem;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .gallery-section__item:hover {
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  }

  .gallery-section__item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
  }

  .gallery-section__item:hover img {
    transform: scale(1.05);
  }

  @media (min-width: 640px) {
    :root {
      --row-height: 8rem;
    }
  }

  @media (min-width: 768px) {
    :root {
      --row-height: 9rem;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --row-height: 10rem;
    }
  }
</style>
